header {
  position: fixed;
  width: 100%;
  display: flex;

  background-color: aliceblue;
}
header .nav-left {
  display: flex;
  width: 40%;
  justify-content: left;
}
header .nav-left li {
  margin: 10px;
}
header .nav-right {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}
header .logo {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
header .nav-right li {
  margin: 10px;
}
header ul {
  list-style: none;
}
