@import "react-alice-carousel/lib/alice-carousel.css";

header {
  position: sticky;
  width: 100%;
  display: flex;
  background-color: #ffffff;
}
.menuBar {
  display: none;
}
header .nav-left {
  display: flex;
  width: 40%;
  justify-content: left;
}
header .nav-left li {
  margin: 10px;
}
header .nav-right {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}
header .logo {
  position: sticky;
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
header .logo h3 {
  text-transform: uppercase;
  font-weight: lighter;
  text-decoration-line: underline;
}
header .nav-right li {
  margin: 10px;
}
header ul {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  color: #000;
  font-size: 12px;
}
main {
  width: 100%;
  height: 100vh;
}
.yours-custom-class {
  display: flex;
  margin: 0;
  width: 96%;
  height: 80vh;
  background-color: #f1f1f1;
  float: center;
  margin: auto;
}
.yours-custom-class .context {
  width: 50%;
  position: relative;
}
.yours-custom-class .context .description {
  position: absolute;
  bottom: 0;
  margin-left: 30px;
}
.yours-custom-class .context .description p {
  font-weight: lighter;
  font-size: 20px;
}
.yours-custom-class .context .description h1 {
  font-weight: lighter;
  font-size: 50px;
}
.yours-custom-class .image {
  width: 50%;
  height: 100%;
  float: right;
  background-position: center;
  background-repeat: no-repeat;
}
.yours-custom-class .image img {
  width: 350px;
  height: 100%;
  object-fit: contain;
  /* margin: auto; */
  /* justify-content: center; */
  float: right;
  margin-right: 100px;
}
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  color: #465798;
  top: 40%;
  font-size: 25px;
}
.alice-carousel__prev-btn {
  text-align: left;
}

.alice-carousel__next-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 98.1%;
  padding: 10px 5px;
  text-align: right;
}
.containerCards {
  display: grid;
}
.card {
  position: relative;
  width: 300px;
  height: 600px;
  background-color: transparent;
}
.card .image img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.card .content .tallas {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.card .content {
  text-align: center;
  font-size: 12px;
}

.card .content .tallas li {
  margin: 3px;
}
.card .content .tallas li button {
  border: none;
  font-size: 10px;
  color: rgb(67, 67, 67);
}
.card .content span {
  margin: 5px;
  text-decoration: line-through;
  color: rgb(255, 7, 7);
}
.card .content .descuento {
  text-decoration: none;
  color: #000;
}

@media (max-width: 1000px) {
  header {
    display: block;
    width: 100%;
    height: 60px;
  }

  header .logo {
    position: absolute;
    top: 0;
    margin-left: 10px;
  }

  header ul:first-child {
    padding-top: 40px;
  }
  header .nav-left {
    display: none;
  }
  header .nav-right {
    display: none;
  }
  header .nav-left.active {
    display: inline-block;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
  }
  header .nav-right.active {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
  }
  .menuBar {
    position: fixed;
    display: flex;
    right: 0;
    height: 60px;
    align-items: center;
    margin-right: 10px;
  }
}
/*Screen Products*/
.container1 {
  width: 100%;
}
.containerProducts {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.containerProducts .image {
  position: relative;
  width: 80%;
  float: left;
  background-color: aqua;
}
.containerProducts .image img {
  width: 100%;
}
.containerProducts .content {
  width: 100%;
}


label{
  display: flex;
  align-items: center; 
  margin: 10px 5px;
  padding:0;
  width:50px;
  height:50px;
  border-radius:50%;
  cursor: pointer;
}

.design{
  width:22px;
  height:22px;
  border-radius:100px;
  background-size: 20px 20px;
  position: relative;
  left: 27%;
}

.design:before{
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background:hsl(0,0%,90%);
  transform: scale(1,1);
  transition: .3s;
}

input:checked+.design:before{
  transform:scale(0);
}

input[type="radio"]{
  position:absolute;
  left:0;
  top:0;
  right:0;
  width:1px;
  height:1px;
  opacity:0;
  z-index:-1;
}
